@use "sass:meta";

body {
    --grey-color-0: #000;
    --grey-color-1: #334155;
    --grey-color-2: #4f5d75;
    --grey-color-3: #7b8794;
    --grey-color-4: #b0b7c3;
    --grey-color-5: #c8cfda;
    --grey-color-6: #e6f0f9;
    --grey-color-7: #f2f7fc;
    --grey-color-8: #fff;

    --blue-0: #1414db;
    --white: #fff;
}

:is(html[class~="dark"] body) {
    --grey-color-0: #fff;
    --grey-color-1: #e2e8f0;
    --grey-color-2: #b0b7c3;
    --grey-color-3: #767e89;
    --grey-color-4: #4f5d75;
    --grey-color-5: #334155;
    --grey-color-6: #29363f;
    --grey-color-7: #1d2429;
    --grey-color-8: #000;

    @include meta.load-css("highlight.js/styles/base16/edge-dark");
}
:is(html[class~="light"] body) {
    @include meta.load-css("highlight.js/styles/base16/edge-light");
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.nx-underline {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
