/target/
dist/
Cargo.lock
**/*.rs.bk
lcov.info
*.agdb
agdb_server_benchmark.log
agdb_benchmark.yaml
agdb_server.yaml
agdb_server_data/
!.github/workflows/agdb_benchmark.yaml
!.github/workflows/agdb_server.yaml
test.log
vendor/
coverage/
node_modules/
openapitools.json
.openapi-generator/
composer.lock
.vscode/
.turbo/
.nuxtrc
