.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    min-height: 15rem;
    max-height: 60rem;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: 100;
        color: var(--grey-color-0);
    }
    a {
        font-size: 1.1rem;
        text-decoration: none;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
        color: var(--grey-color-1);
        border: 1px solid var(--grey-color-1);
        margin: 1rem 0.5rem;
        transition:
            color 0.3s ease,
            background-color 0.3s ease;
        &:hover {
            background-color: var(--grey-color-1);
            color: var(--grey-color-6);
        }
    }
}

.subheading {
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 3rem;
    color: var(--grey-color-2);
}
