.button {
    display: inline-block;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.4s ease;
    --backgroundColor: var(--color-background-mute);
    --color: var(--color-text);
    --borderColor: var(--color-text);
    background-color: var(--backgroundColor);
    color: var(--color);
    border: 1px solid var(--borderColor);
}

.button-lg {
    padding: 10px 20px;
}

.button-default {
    --backgroundColor: #007bff;
    --color: var(--white);
    --borderColor: #025ec0;
}

.button-success {
    --backgroundColor: #28a745;
    --color: var(--white);
    --borderColor: #1e7732;
}

.button-warning {
    --backgroundColor: var(--orange);
    --color: var(--black);
    --borderColor: #d88621;
}

.button-danger {
    --backgroundColor: #dc3545;
    --color: var(--white);
    --borderColor: var(--red);
}

.button-transparent {
    --backgroundColor: transparent;
    --color: var(--color-text);
    --borderColor: transparent;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}
