@import "./base.css";

#app {
    font-family: var(--base-font);
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #ff8800;
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        opacity: 0.8;
    }
}

@media (min-width: 1024px) {
}
