name: agdb_api_typescript

on:
  pull_request:
    branches: ["main"]
    paths:
      - agdb_api/typescript/**
      - .github/workflows/agdb_api_typescript.yaml
      - pnpm-lock.yaml
      - pnpm-workspace.yaml
      - package.json

jobs:
  agdb_api_typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm i -g pnpm
      - run: pnpm i --frozen-lockfile
      - run: pnpm run format:check --filter=@agnesoft/agdb_api
      - run: pnpm run lint:check --filter=@agnesoft/agdb_api
      - run: pnpm run build --filter=@agnesoft/agdb_api
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: pnpm run test --filter=@agnesoft/agdb_api
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: coverage
          path: agdb_api/typescript/coverage/
          retention-days: 30
